.headerPanel {
    background-color: #333; /* Un colore nero/grigio scuro */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex; /* Per allineare gli elementi */
    justify-content: space-between; /* Per mettere il logout a destra */
    align-items: center;
}

.headerPanel a {
    color: white; /* Rende il link del logout bianco */
    text-decoration: none; /* Rimuove la sottolineatura */
}

.userInfo {
    font-weight: bold;
}