.bottoneLogin{
    background-color: #4CAF50; /* Un colore verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.headerPanel {
    background-color: #333; /* Un colore nero/grigio scuro */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    display: flex; /* Per allineare gli elementi */
    justify-content: space-between; /* Per mettere il logout a destra */
    align-items: center;
}

.pulsante_logout {
    color: goldenrod; /* Rende il link del logout bianco */
    text-decoration: none; /* Rimuove la sottolineatura */
}

.userInfo {
    font-weight: bold;
    color: tomato;
}


    